.whole_wrapper {
    background: rgba(0, 0, 0, .1);
    width: 100%;
    min-height: 100%;
    padding:5%;
  }
  .whole_wrapper .each_card {
    width: 50%;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 10px;
    background: white;
    margin:5% 25%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
  .whole_wrapper .each_card .image_container {
    text-align: left;
  }
  .whole_wrapper .each_card .image_container img {
    width: 50%;
    border-radius: 10px;
  }
  .whole_wrapper .each_card .right_contents_container {
    display: flex;
    flex-direction: column;
  }
  .whole_wrapper .each_card .right_contents_container .name_field {
    font-size: 22px;
    font-weight: 900;
    line-height: 30px;
  }
  .whole_wrapper .each_card .right_contents_container .email_field {
    font-size: 22px;
    line-height: 30px;
  }
  